@model PublicInfoModel

@{
    var whatsAppHref = string.Concat("https://wa.me/",
            string.IsNullOrEmpty(Model.WhatsAppNumber) ? "0726508346" : Model.WhatsAppNumber);
}

<link rel="stylesheet" href="~/Plugins/Widgets.WhatsAppChat/Content/styles.css" />

<div class="whatsapp-chat">
    <a href="@whatsAppHref" target="_blank">
        <img src="~/Plugins/Widgets.WhatsAppChat/wwwroot/images/whatsapp-icon.png" alt="Chat with us on WhatsApp" />
    </a>
</div>
